* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.section {
    padding: 15px 0;
}

.grid {
    display:flex;
    flex-wrap: wrap;  
}

.box {
	aspect-ratio: 1;
	border: 2px solid darkorange;
	width: calc(100% / 10);
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-blue{
	background-color:deepskyblue;
}

.bg-red {
	background-color: red;
}

.title { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
    font-size: 30px;
}

.button { 
    font-size: 30px;
    padding: 15px;
    border-radius: 15%;
    border-color: currentColor;
    background-color:darkorange;

}